
<footer>
    
<div id="footer">
    <hr>
<p> &copy; <span id="currentYear"></span> Christian Weersink and Christina Jackson </p>

<p> <a href="../information/aboutus.ejs" target="_blank"> <span class="underline">About Us </span> &nbsp; </a> <a href="../information/cookies.ejs" target="_blank">| &nbsp; <span class="underline">Cookie Policy </span> &nbsp;</a> <a href="../information/privacy.ejs" target="_blank">| &nbsp; <span class="underline">Privacy Policy </span></a> </p>
</div>
<script>

    var currentYear = new Date().getFullYear();

    document.getElementById('currentYear').textContent = currentYear;
</script>




</footer>
</body>
</html>