<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/cookieHandler.js"></script>
    <link rel="stylesheet" type="text/css" href="../views/css/stylesheet.css">

</head>

<body>
    <div class="navigation">
    <header>
        <nav>
            <ul id="navLinks">
                <li><a href="/">| &nbsp; <span class="underline">Home</span></a></li>
            </ul>
        </nav>
    </header>
    <script>
        // Check if the "loggedIn" cookie is present
        const cookies = document.cookie.split(';');
        let isLoggedIn = false;
        for (let cookie of cookies) {
            if (cookie.trim().startsWith('loggedIn=')) {
                isLoggedIn = true;}
        }

        // Get the navigation links element
        const navLinks = $('#navLinks');

        // Update the navigation links based on the user's authentication state
        if (isLoggedIn) {
            // User is logged in, display sign-out link
            navLinks.append('<li><a href="./logout">| &nbsp; <span class="underline">Sign out</span></a></li>');
            navLinks.append('<li><a href="./tasks">| &nbsp; <span class="underline">Tasks</span></a></li>');
            navLinks.append('<li><a href="./dashboard"><span class="underline">Dashboard</span></a></li>')
        } else {
            // User is not logged in, display sign-in and sign-up links
            navLinks.append('<li><a href="./sign-in">| &nbsp; <span class="underline">Sign in</span></a></li>');
            navLinks.append('<li><a href="./sign-up"><span class="underline">Sign up</span></a></li>');
            
        }
    </script>
    </div>
</body>

</html>
