<!-- 
    Final project
    Christina Jackson and Christian Weersink
    INFT 2202-07
    about us web page
 -->

<% const title="About Us" ; %>
<%- include('./includes/header', {title: title}) %>

    <div class="centertext">
    <h2> About This Website </h2>
    <p> <br>This website is designed to be a task management system for registered Users. <br>
    In order to use this website, Users must create an account. <br><br>
    Tasks can be created, edited, and set with a priority level, label, category, and due date. <br>
    Task priority starts at 0 - lowest priorty, and can be raised to 3 - highest priority.  <br><br><br>
    
    Read our <a href="./privacy"> <span class="underline">Privacy Policy </span> </a> and <a href="./cookies"> <span class="underline">Cookie Policy </span> </a> before sign-up. <br><br>
    Sign up for our services <a href="./sign-up" > <span class="underline">here </span> </a></p>
    </div>

    <br><br><br><br><br><br>
    <p class="centerbottom">Images on this website are used under Creative Commons 1.0 deed. For more information visit the <a href="https://creativecommons.org/licenses/by/1.0/deed.en" target="blank"> <span class="underline">Creative Commons Website</span></a>.</p>

    <%- include('./includes/footer') %>