<% const title = "Dashboard"; %>
<%- include('./includes/header', {title: title}) %>


<div class="centertext">
    <h1><%=title %></h1>
    <h2 id='welcome_msg'></h2><br>
    <h3><a href="/tasks">View tasks</a></h3>

    <br>
    <p id="dashboardImage"><img src="/images/image1.png" alt="Student studying with textbook"></p>
</div>
<script>
    // Get the value of the "user" cookie
    let userInfo = getCookie('user');
    let userParsed = JSON.parse(userInfo);

    // Check if the userInfo cookie exists
    if (!userInfo) {
        // Redirect to login page if userInfo cookie is not found
        window.location.href = "./sign-in";
    } else {
        $('#welcome_msg').html("Welcome: " + userParsed.username);
    }
</script>

<%- include('./includes/footer') %>
