<footer>
<div id="footer">
<p> &copy; <span id="currentYear"></span> Christian Weersink and Christina Jackson </p>

<p> <a href="./aboutus" target="_blank"> <span class="underline">About Us </span> &nbsp; </a> <a href="./cookies" target="_blank">| &nbsp; <span class="underline">Cookie Policy </span> &nbsp;</a> <a href="./privacy" target="_blank">| &nbsp; <span class="underline">Privacy Policy </span></a> </p>
</div>
<script>

    var currentYear = new Date().getFullYear();

    document.getElementById('currentYear').textContent = currentYear;
</script>




</footer>
</body>
</html>