<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href = "index.ejs">Home</a></li>
                <li><a href = "index.ejs">Sign in</a></li>
                <li><a href = "index.ejs">Sign up</a></li>
                <li><a href = "index.ejs">Home</a></li>
            </ul>
        </nav>
    </header>
