<% const title = "Home"; %>
<%- include('./includes/header', {title: title}) %>

<div class="centertext">
<h1>Task Helper: The Place for Productivity</h1>
<br><br>

<!-- Load all images for page to carousel through -->
<div id="carouselImage">
    <div class="carousel">
    <div class="Images">
        <img src="/images/image1.png" alt="Student studying with textbook">
    </div>

    <div class="Images">
        <img src="/images/image2.png" alt="Filing cabinet with papers inside">
    </div>

    <div class="Images">
        <img src="/images/image3.jpg" alt="Checking tasks off on a paper list">
    </div>

    <div class="Images">
        <img src="/images/image4.png" alt="Clipboard clip art">
    </div>
    </div>
</div>

<!-- Carousel images -->
<script>

    const carouselDiv = document.getElementById("carouselImage");
    const carouselImages = carouselDiv.querySelectorAll(".Images");
    let index = 0;

    function thePictures(index) {
        carouselImages.forEach((image, i) => {
            if (i === index) {
                image.style.display = "block";
            }
            else {
                image.style.display = "none";
            }
        });
    }

    thePictures(index);

    function nextPic(){
        index = (index + 1) % carouselImages.length;
        thePictures(index);
    }

    setInterval(nextPic, 3000);
    setInterval(nextImage, 3000);

</script>


<!-- Sign in link -->
<br><br><br>
<h2> <a href="./sign-in" id="indexLink"> <span class="underline" > Sign In Here </span> </a> </h2>

</div>

<%- include('./includes/footer') %>

<script>
    //redirect if they are logged in already
    const loggedIn = getCookie("loggedIn");
    if(loggedIn){
        $('#indexLink').find('span').text("View Tasks");
        $('#indexLink').attr('href', './tasks');
    }

</script>

