<% const title = "Home"; %>
<%- include('header', {title: title}) %>

<div class="centertext">
<h1>Task Helper: The Place for Productivity</h1>
<!-- <div id="carouselImage">

    <div class="Images">
        <img src="" alt="">
    </div>

</div> -->



<br>
<h2> <a href="./sign-in" target="_blank"> <span class="underline"> Sign In Here </span> </a> </h2>

</div>

<%- include('footer') %>

