<!-- 
    Final project
    Christina Jackson and Christian Weersink
    INFT 2202-07
    Log out page
 -->

<% const title = "Logout"; %>
<%- include('./includes/header', {title: title}) %>

<h1><%=title %></h1>


<h1>Logging out...</h1>
    <script>
        // Delete the "loggedIn" cookie
        document.cookie = "loggedIn=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "user=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        
        // Redirect the user to the home page
        window.location.href = "/";
    </script>

<%- include('./includes/footer') %>
