<!-- 
    Final project
    Christina Jackson and Christian Weersink
    INFT 2202-07
    Privacy policy page
 -->

<% const title="Privacy Policy" ; %>
    <%- include('./includes/header', {title: title}) %>

    <div class="centertext">
    <h2> Our Website's Privacy Policy </h2>
    <p> Up to date as of April 2024 </p>
    <p> <br> The privacy of our users at Task Helper is top priority. This privacy policy outlines what personal information we collect and how it is used. <br><br> </p>

    <p class="bold"> What Information We Collect from You </p>
    <p> When you create an account on Task Helper, we require the collection of some personal information. This information includes: <br> <br>
            -Your email address<br>
            
            -Your selected username<br>
            
            -Your chosen password<br><br>
            
            -Any additional information provided pertaining to your tasks: <br>
            Details, due dates, priority levels, categories, etc.
            
</p>     <br>

    <p class="bold"> How Your Collected Information is Used </p>
    <p> We require use of your personal information in order to provide access to our website and its services, and communicate with you when necessary. <br><br>
    We will communicate with you through the email you provide only for the purposes of: <br>
            - Website updates and promotions<br>
            - Policy changes<br>
            - Account inquiries </p><br>

    <p class="bold"> Third Party Disclosure </p>
    <p> We do not sell, supply, or exchange your personal information with any third parties, except when required by law or to provide you with the services of our website.</p><br>

    <p class="bold"> Policy Changes </p>
    <p> We may need to update this policy in the future, and will post a revision date at the top of this page. </p>

    </div>



    <footer>

        <div id="task-footer">
            <hr>
            <p> &copy; <span id="currentYear"></span> Christian Weersink and Christina Jackson </p>

            <p> <a href="../aboutus"> <span class="underline">About Us </span>
                    &nbsp; </a> <a href="../cookies">| &nbsp; <span
                        class="underline">Cookie Policy </span> &nbsp;</a> <a href="../privacy"
                    >| &nbsp; <span class="underline">Privacy Policy </span></a> </p>
        </div>
        <script>

            var currentYear = new Date().getFullYear();

            document.getElementById('currentYear').textContent = currentYear;
        </script>




    </footer>
    </body>

    </html>