<% const title="Tasks" ; %>
<%- include('header', {title: title}) %>


    <h1>
        <%=title %>
    </h1>
    
    <form id="taskForm" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br>
        
        <label for="category">Category:</label>
        <input type="text" id="category" name="category"><br>
        
        <label for="label">Label:</label>
        <input type="text" id="label" name="label"><br>
        
        <label for="dueDate">Due Date:</label>
        <input type="date" id="dueDate" name="dueDate"><br>
        
   
        <input type="hidden" id="owner" name="owner" value="" readonly><br>
        
        <input type="submit" value="Create Task">
    </form>

    <div id="tasks-container">
        <!-- Tasks will be dynamically added here -->
    </div>
    <script>
        // Access userInfo and set the owner field
        let userInfo = getCookie('user');
    let userParsed = JSON.parse(userInfo);
    console.log(userParsed);
    $('#owner').val(userParsed._id);

    $('#taskForm').submit(function(event) {
        event.preventDefault(); // Prevent default form submission

        // Construct JSON object with form data
        const jsonData = {
            name: $('#name').val(),
            description: $('#description').val(),
            category: $('#category').val(),
            label: $('#label').val(),
            dueDate: $('#dueDate').val(),
            owner: $('#owner').val()
        };

        // Optionally, you can log the JSON data to the console for verification
        console.log(jsonData);

        // Now you can send the JSON data to the server using AJAX
        $.ajax({
            type: 'POST',
            url: '/tasks',
            contentType: 'application/json',
            data: JSON.stringify(jsonData),
            success: function(data) {
                console.log('Response:', data);
                // Handle success response here
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // Handle error here
            }
        });
    });
    </script>
    

<%- include('footer') %>