/*
    Final Project Stylesheet
    April 13 2024
    Christina Jackson and Christian Weersink
    Stylesheet for INFT2202 Final Project
*/

body {
    min-height: 100vh;
	margin: 0;
    padding: 0;
    display: flex;
	flex-direction: column;
    background-color: #EAEBED;
    flex: 1;
}

.centertext {
    text-align: center;
}

.spButton {
    margin-left: -185px;
}

.Forms {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bolder;
}

.navigation {
    height: 50px;
    text-decoration: none;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	padding: 15px;
}

.navigation li {
	display: block;
	float: right;
    margin-right: 10px;
}

a {
	text-decoration: none;
	font-weight: bold;
    color: #2E2327;
    text-shadow: 0.25px 0.25px 0 white;
}

a:hover {
	color: #183E4E;
	
}

a:hover .underline {
    text-decoration: underline;
}


/* For index.ejs carousel */
.Images {
    opacity: 1;
    overflow: hidden;
    height: 300px
}

.Images img {
    width: 300px;
    height: auto;
}


#carouselImage {
    height: 300px;
}


/* Message styling */
.error {
    margin: 40px auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #3E0208;
    border-radius: 5px;
    font-size:large;
    font-weight: bold;
    color: white;
    background-color: #9a212d;
    width: 300px;
}

.success {
    margin: 40px auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #04211B;
    border-radius: 5px;
    font-size:large;
    font-weight: bold;
    background-color: #034C3C;
    color: white;
    width: 300px;
}

.success a {
    color: white;
    text-decoration: underline;
}


/* Task styles */
#messages {
    padding: 10px;
}

#tasks-container {
    width: 100%;
    background: radial-gradient(circle, #BFC7BD, #EAEBED);
    display: flex;
    justify-content: center;
}

.task-item {
    border: #3A4449 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 300px;
    background-color: #709389;
    text-align: center;
}

.task-item:hover {
    background-color: #9BBDB4;
}
.task-item button {
    background-color: #16262E;
    border-radius: 5px;
    color: #FFFFFF;
}
.task-item button:hover {
    background-color: #3A4449;
}

.pagination {
    z-index: 1000;
}



/* Footer CSS */
#footer {
    margin-top: auto;
	padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 50;
}