/*
    Final Project Stylesheet
    April 13 2024
    Christina Jackson and Christian Weersink
    Stylesheet for INFT2202 Final Project
*/

body {
    min-height: 100vh;
	margin: 0;
    padding: 0;
    display: flex;
	flex-direction: column;
    background-color: #EAEBED;
    flex: 1;
}
 /* Centering */
.centertext {
    text-align: center;
}

.centerbottom {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 100%;
}

.spButton {
    margin-bottom: 40px;
    margin-left: -150px;
    margin-top: -10px;
}

/* Forms CSS */
.Forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* For sign up and sign in pages */
.input_items input, .input_items textarea, .input_items select {
    width: 140px;
    margin-bottom: 10px;
}

.input_items label {
    width: 130px;
    text-align: right;
    margin-right: 10px;
}

.input_items {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#conf_id {
    margin-top: -10px;
}

/* For Task page */
.task_input input, .task_input textarea, .task_input select {
    width: 140px;
    margin-bottom: 10px;
}

.task_input label {
    width: 95px;
    text-align: right;
    margin-right: 10px;
}

.task_input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.createTask {
    margin-left: 30px;
    margin-bottom: 10px;
}

/* Task update forms */
.updateForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.updateForm label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.updateForm input, .updateForm textarea, .updateForm select {
    width: 140px;
    margin-bottom: 2px;
}

.updateForm button {
    margin-top: 10px;
}



.bold {
    font-weight: bolder;
}

/* Nav bar */
.navigation {
    height: 50px;
    text-decoration: none;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	padding: 15px;
}

.navigation li {
	display: block;
	float: right;
    margin-right: 10px;
}

/* Links */
a {
	text-decoration: none;
	font-weight: bold;
    color: #2E2327;
    text-shadow: 0.25px 0.25px 0 white;
}

a:hover {
	color: #183E4E;
	
}

a:hover .underline {
    text-decoration: underline;
}


/* For index.ejs carousel and images */
.Images {
    opacity: 1;
    overflow: hidden;
    height: 300px
}

.Images img {
    width: 300px;
    height: auto;
}

#carouselImage {
    height: 300px;
}

#dashboardImage img {
    height: 25%;
    width: 25%;
    margin-left: -1000px;
}

#tasksImage {
    position: relative;
}

#tasksImage img {
    position: absolute;
    height: 200px;
    width: auto;
    margin-left: 350px;
    margin-top: -350px;
}

/* Message styling */
.error {
    margin: 40px auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #3E0208;
    border-radius: 5px;
    font-size:large;
    font-weight: bold;
    color: white;
    background-color: #9a212d;
    width: 300px;
}

.success {
    margin: 40px auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #04211B;
    border-radius: 5px;
    font-size:large;
    font-weight: bold;
    background-color: #034C3C;
    color: white;
    width: 300px;
}

.success a {
    color: white;
    text-decoration: underline;
}


/* Task styles */
#messages {
    padding: 10px;
}

#tasks-container {
    width: 100%;
    background: radial-gradient(circle, #BFC7BD, #EAEBED);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.task-item {
    border: #3A4449 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 300px;
    background-color: #709389;
    text-align: center;
}

.task-item:hover {
    background-color: #9BBDB4;
}
.task-item button {
    background-color: #16262E;
    border-radius: 5px;
    color: #FFFFFF;
}
.task-item button:hover {
    background-color: #3A4449;
}

.pagination a{
    font-weight: bolder;
}
.pagination a:hover{
    text-decoration: underline;
}





/* Footer CSS */
#footer {
    margin-top: auto;
	padding: 10px;
    text-align: center;
    position:absolute;
    bottom: 0;
    width: 100%;
    z-index: 50;
}

#task-footer {
    margin-top: auto;
	padding: 10px;
    text-align: center;
    position:sticky;
    bottom: 0;
    width: 100%;
    z-index: 50;
}